<md-toolbar layout="row" layout-align="center center" class="acme-navbar-color">

  <md-button>
    <md-icon>menu</md-icon>
  </md-button>

  <section flex layout="row" layout-align="left center">
    <md-button href="#/main" class="md-raised">Home</md-button>
    <md-button href="#/profile" class="md-raised">Profile</md-button>
    <md-button href="#/" class="md-raised">Contact</md-button>
  </section>

  <md-button href="#/logout" class="md-raised" ng-click="signOut()">Logout</md-button>


</md-toolbar>
